@charset "UTF-8";

@font-face {
  font-family: lfda;
  src: url(../fonts/lfda.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

[class*=" icon-"],
[class^="icon-"] {
  font-family: lfda !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-defer:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-ruler:before {
  content: "";
}

.icon-bank-check:before {
  content: "";
}

.icon-bank:before {
  content: "";
}

.icon-furets:before {
  content: "";
}

.icon-filters:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-sign:before {
  content: "";
}

.icon-pills:before {
  content: "";
}

.icon-syringe:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-graph:before,
.icon-scale:before {
  content: "";
}

.icon-pet:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-level-down:before {
  content: "";
}

.icon-spin:before {
  content: "";
}

.icon-eye-slash:before {
  content: "";
}

.icon-store:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-address:before {
  content: "";
}

.icon-female:before {
  content: "";
}

.icon-male:before {
  content: "";
}

.icon-gift:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-burger:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-prev:before {
  content: "";
}

.icon-up:before {
  content: "";
}

.icon-calendar-plus:before,
.icon-calendar:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-check-double:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before,
.icon-trash:before {
  content: "";
}

.icon-down:before {
  content: "";
}

.icon-facebook:before,
.icon-social-facebook:before {
  content: "";
}

.icon-handshake:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-instagram:before,
.icon-social-instagram:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-guarantee:before,
.icon-lock:before {
  content: "";
}

.icon-next-xl:before,
.icon-next:before {
  content: "";
}

.icon-discount:before,
.icon-percent:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-eye:before,
.icon-show:before {
  content: "";
}

.icon-redo:before,
.icon-sync:before {
  content: "";
}

.icon-fidelity:before,
.icon-trophy:before {
  content: "";
}

.icon-shipping:before,
.icon-truck:before {
  content: "";
}

.icon-social-twitter:before,
.icon-twitter:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-social-youtube:before,
.icon-youtube:before {
  content: "";
}

.icon-zoom:before {
  content: "";
}

.icon-oiseaux:before {
  content: "";
}

.icon-rongeurs:before {
  content: "";
}

.icon-chats:before {
  content: "";
}

.icon-chiens:before {
  content: "";
}

.icon-poissons:before {
  content: "";
}

.icon-bassins:before {
  content: "";
}

.icon-en-promotion:before {
  content: "";
}

.icon-reptiles:before {
  content: "";
}

.icon-elevage:before {
  content: "";
}

.icon-soldes:before {
  content: "";
}

.icon-pinterest:before,
.icon-social-pinterest:before {
  content: "";
}

.icon-privilege-plus:before {
  content: "";
}

.icon-fragile:before {
  content: "";
}

.icon-privilege:before {
  content: "";
}

.icon-serenite:before {
  content: "";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  width: 100%;
}

.overlay {
  display: none;
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay.active {
  display: block;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top i {
  margin-right: 8px;
}

.header-top .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 16px;
}

.header-top .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

.header-main {
  padding: 16px 0;
}

.header-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main .burger-wrapper {
  display: none;
}

.header-main .logo {
  display: block;
  max-width: 160px;
  margin: 0 76px;
}

.header-main .logo img {
  width: 100%;
  height: 100%;
}

.header-main .interact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .cart {
  position: relative;
  margin-left: 16px;
  margin-right: 8px;
}

.header-main .user__trigger,
.header-main .cart__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .user i,
.header-main .cart i {
  margin-right: 4px;
}

.header-main .cart-count {
  position: absolute;
  left: -5px;
  bottom: -3px;
  width: 21.19px;
  height: 18.39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-main .cart-count span {
  display: block;
}

.header .offer {
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
}

.header .offer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .offer-btn {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .offer__link {
  text-align: center;
}

.nav-header {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.1111%;
          flex: 0 0 11.1111%;
  max-width: 11.1111%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__trigger {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.nav__trigger::before {
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.nav__trigger i {
  margin-right: 12px;
}

.nav__trigger:hover::before {
  display: block;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.breadcrumbs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.breadcrumbs-item.category {
  margin-right: 16px;
}

.breadcrumbs-item.category::after {
  display: none;
}

.breadcrumbs-item:not(:last-child)::after {
  font-family: lfda;
  content: "";
  margin: 2px 4px 0;
}

.filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666%;
          flex: 0 0 16.6666%;
  max-width: 16.6666%;
}

.filters-header {
  display: none;
}

.filters-footer {
  display: none;
}

.filters-table {
  padding: 24px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filters .dropdown-list {
  position: relative;
  width: 100%;
  display: none;
}

.filters .dropdown-list.active {
  display: block;
}

.filters .dropdown-sublist {
  display: none;
}

.filters .dropdown-sublist.active {
  display: block;
}

.filters .dropdown__trigger {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.filters .dropdown__trigger i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.filters .dropdown__trigger.active i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.filters-list .dropdown__subtrigger {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 12px;
  margin-bottom: 16px;
}

.filters-list .dropdown__subtrigger i {
  margin-top: 1px;
  margin-left: 6.8px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.filters-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.filters-item__title {
  margin-left: 16px;
}

.filters-item .amount {
  margin: 0 0 0 auto;
}

.filters .show-more {
  padding: 16px;
  margin: 16px auto 0;
}

.filters #slider-range {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 20px);
}

.filters .slider-range-total input {
  margin-top: 8px;
}

.filters .slider-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
  margin-top: 8px;
}

.filters .slider-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
}

.filters .slider-price label {
  margin-right: 3px;
}

.filters .slider-price input {
  width: 100%;
}

.filters .ui-slider {
  position: relative;
  text-align: left;
}

.filters .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
}

.filters .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
}

.filters .ui-slider-horizontal {
  height: 4px;
}

.filters .ui-slider-horizontal .ui-slider-handle {
  top: -8px;
}

.filters .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.filters .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.filters .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.filters .ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.filters .ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.filters .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.filters .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.filters .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.filters .ui-state-default,
.filters .ui-widget-content .ui-state-default,
.filters .ui-widget-header .ui-state-default,
.filters .ui-button,
.filters html .ui-button.ui-state-disabled:hover,
.filters html .ui-button.ui-state-disabled:active {
  width: 20px;
  height: 20px;
}

.show-item {
  display: none;
}

.show-item .filters-list {
  width: 100%;
}

.show-item .filters-item__title {
  margin-left: 0;
}

.show-item h3 {
  padding: 16px 0;
}

.show-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-info {
  margin-bottom: 16px;
}

.page-info h1 {
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.page-info .show-more {
  display: none;
}

.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort-wrapper span {
  margin-right: 8px;
}

.sort .filters-active {
  display: none;
}

.sort .filters__trigger {
  display: none;
}

.sort-select {
  padding: 6px 12px;
}

.sort .result {
  padding: 8px 0;
}

.sort .result span {
  margin: 0;
}

.product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3334%;
          flex: 0 0 83.3334%;
  max-width: 83.3334%;
}

.product-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 8px;
}

.product-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666%;
          flex: 0 0 16.6666%;
  max-width: 16.6666%;
  padding: 0 15px 15px;
}

.card {
  height: 100%;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image {
  max-width: 225px;
  max-height: 225px;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card-info {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.card-slider {
  max-width: 100%;
  position: unset;
}

.card-slider .slick-slide {
  margin: 0 10px;
}

.card-slider .slick-list {
  margin: 0 -10px;
}

.card-slider .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.card-slider .slick-arrow::before {
  display: none;
}

.card-slider .slick-prev {
  left: 0;
  top: -2px;
}

.card-slider .slick-prev i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-slider .slick-next {
  right: 0;
  top: -2px;
}

.card__title {
  text-align: center;
  margin-bottom: 24px;
}

.card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.card-stars i {
  margin-right: 4px;
}

.card-stars span {
  display: block;
}

.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-item:not(:last-child) {
  margin-bottom: 4px;
}

.card-item i {
  margin-top: 3.5px;
  margin-right: 5px;
}

.card .price {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 14px;
}

.card .price span {
  margin-left: 8px;
}

.card .details {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.4px;
}

.card .details i {
  margin-right: 8px;
}

.pagination {
  margin-top: 32px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-item {
  margin: 0 4px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.info {
  margin-top: 64px;
}

.info-wrapper {
  padding: 16px;
}

.info-description {
  padding-right: 16px;
  max-height: 92px;
  overflow: auto;
}

.info p {
  margin-bottom: 16px;
}

.suggestions {
  margin-top: 64px;
}

.suggestions h2 {
  margin-bottom: 16px;
}

.suggestions-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -8px -4px;
}

.suggestions-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 8px 4px;
}

.suggestions__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 16px;
}

.benefits {
  margin-top: 48px;
  width: 100%;
  padding: 16px 0;
}

.benefits-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
}

.benefits-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666%;
          flex: 0 0 16.6666%;
  max-width: 16.6666%;
  padding: 5px;
}

.benefits-card {
  text-align: center;
}

.benefits-card i {
  display: none;
  margin-bottom: 8px;
}

.benefits-card span {
  display: block;
  margin-bottom: 8px;
}

.reviews {
  padding: 16px 0;
  width: 100%;
}

.footer {
  padding: 24px 0 55px;
}

.footer-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -15px;
}

.footer-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 15px;
}

.footer-wrapper.w-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
}

.footer-list {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.footer__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5.5px 0 0 24px;
}

.footer__link i {
  position: absolute;
  top: 6.3px;
  left: 0;
  margin-right: 17px;
}

.footer__link:hover i {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer .dropdown__trigger {
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .dropdown__trigger i {
  display: none;
}

.mb-4 {
  margin-bottom: 24px;
}

.mt-5 {
  margin-top: 48px;
}

@media screen and (max-width: 1680px) {
  .header-top .phone {
    display: none;
  }
  .product-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .nav__trigger i {
    margin-right: 5px;
  }
  .filters {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .page-info h1 {
    padding: 6.6px 0;
  }
  .page-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .page-info p.active {
    display: block;
    overflow: visible;
    -webkit-line-clamp: none;
    -webkit-box-orient: horizontal;
  }
  .page-info .show-more {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 8px;
    max-width: 100px;
    width: 100%;
    height: 26px;
  }
  .page-info .show-more.active {
    display: none;
  }
  .header .offer {
    position: relative;
  }
  .header .offer i {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header-top {
    padding: 11px 0 6px;
  }
  .header-top i {
    font-size: 11px;
  }
  .header-top span {
    font-size: 10.4px;
  }
  .header-main .burger-wrapper {
    display: block;
  }
  .header-main .logo {
    margin: 0 auto;
  }
  .header-main .user {
    margin-right: 6px;
  }
  .header-main .user span {
    display: none;
  }
  .header-main .cart {
    margin-right: 8px;
    margin-left: 0;
  }
  .header-main .cart .cart-count {
    right: 1px;
    bottom: -3px;
  }
  .header-main .cart .cart-count span {
    display: block;
  }
  .header-main .cart span {
    display: none;
  }
  .nav {
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }
  .nav.active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 24px 48px 16px;
  }
  .nav-header span {
    display: none;
  }
  .nav-header .logo {
    display: block;
    margin: 0 auto;
    max-width: 185px;
  }
  .nav-header .logo img {
    width: 100%;
    height: 100%;
  }
  .nav-header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 48px;
    min-width: 48px;
    max-height: 48px;
    min-height: 48px;
  }
  .nav-header .burger-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .nav-list {
    padding: 16px;
  }
  .nav-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 19px 0;
  }
  .nav__trigger {
    padding: 9px 0 8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__trigger:hover::before {
    display: none;
  }
  .filters {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 15px 0 0;
  }
  .filters .container {
    position: relative;
    padding-bottom: 16px;
  }
  .filters.active {
    display: block;
  }
  .filters-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 8px;
    padding: 6.6px 0;
  }
  .filters-header span {
    display: block;
    margin: 0 auto;
  }
  .filters-header .filters__trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filters-footer {
    z-index: 50;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filters-apply {
    max-width: 240px;
    width: 100%;
    padding: 4px 12px;
  }
  .filters-table {
    padding: 0;
  }
  .product {
    margin-top: 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .sort .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sort .filters-active {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 16px;
  }
  .sort .filters-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sort .filters-list span {
    margin-right: 4px;
  }
  .sort .filters-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    padding: 8px;
  }
  .sort .filters-item:not(:last-child) {
    margin-right: 8px;
  }
  .sort .filters-reset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 240px;
    width: 100%;
    height: 26px;
    margin-top: 16px;
  }
  .sort-wrapper span {
    display: none;
  }
  .sort-select {
    padding: 0 12px;
    height: 40px;
  }
  .sort .result {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .sort .filters-fixed {
    max-width: 240px;
    width: 100%;
  }
  .sort .filters-fixed.fixed {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .sort .filters__trigger {
    max-width: 240px;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sort .filters__trigger i {
    margin-right: 16px;
  }
  .footer {
    padding: 24px 0 67px;
  }
  .footer-table {
    margin: 0;
  }
  .footer-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .footer-wrapper.w-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .footer-wrapper.mb-4 {
    margin-bottom: 15px;
  }
  .footer-wrapper.mt-5 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .footer .dropdown-list {
    display: none;
  }
  .footer .dropdown-list.active {
    display: block;
  }
  .footer .dropdown__trigger {
    margin-bottom: 8px;
  }
  .footer .dropdown__trigger i {
    display: block;
  }
  .info-description {
    max-height: none;
  }
}

@media screen and (max-width: 991px) {
  .info-wrapper {
    max-height: none;
  }
}

@media screen and (max-width: 768px) {
  .header-top .delivery {
    display: none;
  }
  .nav-header {
    padding: 16px 0;
  }
  .nav-header .logo {
    display: none;
  }
  .nav-header span {
    display: block;
    margin: 0 auto;
  }
  .nav-header .burger {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
  .breadcrumbs-list {
    padding: 8px 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .breadcrumbs-item {
    padding: 2px 0;
  }
  .breadcrumbs-item.category {
    margin-right: 8px;
  }
  .breadcrumbs-item:not(:last-child)::after {
    margin: 2px 3px 0;
  }
  .filters {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .product-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .benefits-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .benefits-card i {
    display: block;
  }
  .benefits-card p {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .header-top {
    padding: 7px 0 6px;
  }
  .header-top .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .card__image {
    max-width: 100%;
    max-height: 100%;
  }
  .sort .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sort .filters-fixed {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: 16px;
  }
  .sort .sort-wrapper {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .sort-select {
    max-width: 100%;
  }
}
