// Vars ==========>
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-text: #212529;

$color-border: #ccd1d9;

// Icons ==========>
@font-face {
  font-family: lfda;
  src: url(../fonts/lfda.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: lfda !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-defer:before {
  content: "";
}
.icon-x:before {
  content: "";
}
.icon-ruler:before {
  content: "";
}
.icon-bank-check:before {
  content: "";
}
.icon-bank:before {
  content: "";
}
.icon-furets:before {
  content: "";
}
.icon-filters:before {
  content: "";
}
.icon-microphone:before {
  content: "";
}
.icon-car:before {
  content: "";
}
.icon-sign:before {
  content: "";
}
.icon-pills:before {
  content: "";
}
.icon-syringe:before {
  content: "";
}
.icon-bug:before {
  content: "";
}
.icon-graph:before,
.icon-scale:before {
  content: "";
}
.icon-pet:before {
  content: "";
}
.icon-upload:before {
  content: "";
}
.icon-level-down:before {
  content: "";
}
.icon-spin:before {
  content: "";
}
.icon-eye-slash:before {
  content: "";
}
.icon-store:before {
  content: "";
}
.icon-home:before {
  content: "";
}
.icon-pencil:before {
  content: "";
}
.icon-address:before {
  content: "";
}
.icon-female:before {
  content: "";
}
.icon-male:before {
  content: "";
}
.icon-gift:before {
  content: "";
}
.icon-clock:before {
  content: "";
}
.icon-bell:before {
  content: "";
}
.icon-burger:before {
  content: "";
}
.icon-users:before {
  content: "";
}
.icon-star:before {
  content: "";
}
.icon-prev:before {
  content: "";
}
.icon-up:before {
  content: "";
}
.icon-calendar-plus:before,
.icon-calendar:before {
  content: "";
}
.icon-cart:before {
  content: "";
}
.icon-chat:before {
  content: "";
}
.icon-check-double:before {
  content: "";
}
.icon-check:before {
  content: "";
}
.icon-close:before,
.icon-trash:before {
  content: "";
}
.icon-down:before {
  content: "";
}
.icon-facebook:before,
.icon-social-facebook:before {
  content: "";
}
.icon-handshake:before {
  content: "";
}
.icon-image:before {
  content: "";
}
.icon-info:before {
  content: "";
}
.icon-instagram:before,
.icon-social-instagram:before {
  content: "";
}
.icon-list:before {
  content: "";
}
.icon-guarantee:before,
.icon-lock:before {
  content: "";
}
.icon-next-xl:before,
.icon-next:before {
  content: "";
}
.icon-discount:before,
.icon-percent:before {
  content: "";
}
.icon-phone:before {
  content: "";
}
.icon-search:before {
  content: "";
}
.icon-eye:before,
.icon-show:before {
  content: "";
}
.icon-redo:before,
.icon-sync:before {
  content: "";
}
.icon-fidelity:before,
.icon-trophy:before {
  content: "";
}
.icon-shipping:before,
.icon-truck:before {
  content: "";
}
.icon-social-twitter:before,
.icon-twitter:before {
  content: "";
}
.icon-user:before {
  content: "";
}
.icon-social-youtube:before,
.icon-youtube:before {
  content: "";
}
.icon-zoom:before {
  content: "";
}
.icon-oiseaux:before {
  content: "";
}
.icon-rongeurs:before {
  content: "";
}
.icon-chats:before {
  content: "";
}
.icon-chiens:before {
  content: "";
}
.icon-poissons:before {
  content: "";
}
.icon-bassins:before {
  content: "";
}
.icon-en-promotion:before {
  content: "";
}
.icon-reptiles:before {
  content: "";
}
.icon-elevage:before {
  content: "";
}
.icon-soldes:before {
  content: "";
}
.icon-pinterest:before,
.icon-social-pinterest:before {
  content: "";
}
/*! purgecss stop ignore */
.icon-privilege-plus:before {
  content: "";
}
.icon-fragile:before {
  content: "";
}
.icon-privilege:before {
  content: "";
}
.icon-serenite:before {
  content: "";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: "Lato", sans-serif !important;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Global ==========>
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-white !important;
  font-family: "Lato", sans-serif !important;
  color: $color-text;
  margin: 0;
  letter-spacing: 0;
  &.lock {
    overflow: hidden;
  }
}

h2 {
  color: $color-text;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}

a,
button {
  transition: all 0.3s ease-in-out;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  width: 100%;
}

.overlay {
  display: none;
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25,36,51,.65);
  &.active {
    display: block;
  }
}

// Header ==========>
.header {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/vichy.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: top center;
    padding: 6px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span {
      color: $color-white;
      font-size: 13.6px;
      font-weight: 400;
      line-height: 1.5;
    }
    i {
      color: $color-white;
      font-size: 14px;
      margin-right: 8px;
    }
    .phone {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 16px;
    }
    .delivery {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }
  &-main {
    padding: 16px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .burger {
      &-wrapper {
        display: none;
      }
      i {
        font-size: 25px;
        color: #432b1b;
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        i {
          color: #84a25a;
        }
      }
    }
    .logo {
      display: block;
      max-width: 160px;
      margin: 0 76px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .interact {
      display: flex;
      align-items: center;
    }
    .cart {
      position: relative;
      margin-left: 16px;
      margin-right: 8px;
    }
    .user,
    .cart {
      &__trigger {
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
          span {
            color: #84a25a;
          }
          i {
            color: #84a25a;
          }
        }
      }
      i {
        color: #432b1b;
        font-size: 25px;
        margin-right: 4px;
        transition: all 0.25s ease-in-out;
      }
      span {
        color: #432b1b;
        font-size: 13.6px;
        font-weight: 400;
        line-height: 1.8;
        text-transform: uppercase;
        transition: all 0.25s ease-in-out;
      }
    }
    .cart-count {
      position: absolute;
      left: -5px;
      bottom: -3px;
      width: 21.19px;
      height: 18.39px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e9573f;
      border-radius: 50%;
      cursor: pointer;
      span {
        display: block;
        color: $color-white;
        font-size: 12.8px;
        font-weight: 600;
        line-height: 1;
      }
      &:hover {
        span {
          color: #212529;
        }
      }
    }
  }
  .offer {
    z-index: 50;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffbf21;
    padding: 8px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-btn {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      i {
        color: $color-white;
        font-size: 21px;
        transform: rotate(90deg);
      }
      &:hover {
        background: rgba(0,0,0,.5);
      }
      &:focus {
        background: rgba(0,0,0,.5);
      }
      &:active {
        background: rgba(0,0,0,.5);
      }
    }
    &__link {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.nav {
  background: #f5f7fa;
  &-header {
    display: none;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    flex: 0 0 11.1111%;
    max-width: 11.1111%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__trigger {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: 0s ease-in-out;
    &::before {
      display: none;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #cd3543;
    }
    i {
      color: $color-black;
      font-size: 24px;
      margin-right: 12px;
    }
    span {
      color: $color-black;
      font-size: 16px;
      line-height: 1.5;
      text-transform: uppercase;
    }
    &:hover {
      background-image: url(../img/vichy.png);
      background-color: #cd3543;
      background-repeat: repeat;
      background-size: auto;
      background-position: left top;
      &::before {
        display: block;
      }
      span,
      i {
        color: $color-white;
      }
    }
    &.chats {
      &::before {
        background: #61a4a2;
      }
      &:hover {
        background-image: url(../img/nav/bg_chats.png);
        background-color: #61a4a2;
      }
    }
    &.rongeurs {
      &::before {
        background: #d75941;
      }
      &:hover {
        background-image: url(../img/nav/bg_rongeurs.png);
        background-color: #d75941;
      }
    }
    &.poissons {
      &::before {
        background: #5296aa;
      }
      &:hover {
        background-image: url(../img/nav/bg_poissons.png);
        background-color: #5296aa;
      }
    }
    &.oiseaux {
      &::before {
        background: #a69c00;
      }
      &:hover {
        background-image: url(../img/nav/bg_oiseaux.png);
        background-color: #a69c00;
      }
    }
    &.elevage {
      &::before {
        background: #84a25a;
      }
      &:hover {
        background-image: url(../img/nav/bg_elevage.png);
        background-color: #84a25a;
      }
    }
    &.bassins {
      &::before {
        background: #5e81ac;
      }
      &:hover {
        background-image: url(../img/nav/bg_bassins.png);
        background-color: #5e81ac;
      }
    }
    &.reptiles {
      &::before {
        background: #648543;
      }
      &:hover {
        background-image: url(../img/nav/bg_reptiles.png);
        background-color: #648543;
      }
    }
    &.promos {
      &::before {
        background: #e9a343;
      }
      &:hover {
        background-image: url(../img/nav/bg_promos.png);
        background-color: #e9a343;
      }
    }
  }
}

// Main ==========>
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

// Breadcrumbs ==========>
.breadcrumbs {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 16px;
  &.chats {
    background: #61a4a2;
  }
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 14px 0;
    &.category {
      margin-right: 16px;
      &::after {
        display: none;
      }
    }
    &:not(:last-child) {
      &::after {
        font-family: lfda;
        content: "";
        color: $color-white;
        font-size: 10px;
        margin: 2px 4px 0;
      }
    }
  }
  i {
    color: $color-white;
    font-size: 24px;
  }
  &__link {
    color: $color-white;
    font-size: 13.6px;
    font-weight: 600;
    line-height: 1.2;
    &:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

// Filter ==========>
.filters {
  flex: 0 0 16.6666%;
  max-width: 16.6666%;
  &-header {
    display: none;
  }
  &-footer {
    display: none;
  }
  &-table {
    padding: 24px 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-wrapper {
    width: 100%;
    border: solid #ccd1d9;
    border-width: 1px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .dropdown-list {
    position: relative;
    width: 100%;
    display: none;
    &.active {
      display: block;
    }
  }
  .dropdown-sublist {
    display: none;
    &.active {
      display: block;
    }
  }
  h3 {
    color: $color-text;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
  }
  .dropdown__trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    cursor: pointer;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      color: #aab2bd;
      font-size: 11px;
      transform: rotate(90deg);
    }
    &.active {
      i {
        transform: rotate(-90deg);
      }
    }
  }
  &-list {
    .dropdown__subtrigger {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 12px;
      color: #432b1b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
      border: 1px solid #ccd1d9;
      border-radius: 4px;
      margin-bottom: 16px;
      i {
        color: #432b1b;
        font-size: 14px;
        margin-top: 1px;
        margin-left: 6.8px;
        transform: rotate(0);
      }
    }
  }
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    background: #f5f7fa;
    border-radius: 4px;
    margin-bottom: 8px;
    &__title {
      color: $color-text;
      font-size: 13.6px;
      font-weight: 400;
      line-height: 1.8;
      margin-left: 16px;
    }
    .amount {
      margin: 0 0 0 auto;
      color: $color-text;
      font-size: 13.6px;
      font-weight: 400;
      line-height: 1.8;
    }
    &:hover {
      background: #aab2bd;
    }
  }
  .show-more {
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 16px;
    background: #f6bb42;
    border: 1px solid #f6bb42;
    border-radius: 4px;
    margin: 16px auto 0;
    &:hover {
      color: #f6bb42;
      background: transparent;
    }
  }
  #slider-range {
    width: 100%;
    display: flex;
    max-width: 92%;
  }
  .slider {
    &-range-total input {
      margin-top: 8px;
    }
    &-price {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 16px;
      margin-top: 8px;
      &-wrapper {
        display: flex;
        align-items: center;
        max-width: 100px;
      }
      label {
        margin-right: 3px;
        color: $color-text;
        font-size: 12.8px;
        font-weight: 400;
        line-height: 1.2;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
        background: transparent;
        color: $color-text;
        font-size: 12.8px;
        font-weight: 400;
        line-height: 1.2;
      }
    }
  }
  .ui {
    &-slider {
      position: relative;
      text-align: left;
      .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 10px;
        height: 10px;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
      }
      .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
        background: #b6b6b6;
      }
      &.ui-state-disabled {
        .ui-slider-handle,
        .ui-slider-range {
          filter: inherit;
        }
      }
      &-horizontal {
        height: 4px;
        background: #dadada;
        .ui-slider-handle {
          top: -8px;
        }
        .ui-slider-range {
          top: 0;
          height: 100%;
          background: #5eab0d;
        }
        .ui-slider-range-min {
          left: 0;
        }
        .ui-slider-range-max {
          right: 0;
        }
      }
      &-vertical {
        width: .8em;
        height: 100px;
        .ui-slider-handle {
          left: -.3em;
          margin-left: 0;
          margin-bottom: -.6em;
        }
        .ui-slider-range {
          left: 0;
          width: 100%;
        }
        .ui-slider-range-min {
          bottom: 0;
        }
        .ui-slider-range-max {
          top: 0;
        }
      }
    }
    &-sortable {
      &-handle {
        -ms-touch-action: none;
        touch-action: none;
      }
    }
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  html .ui-button.ui-state-disabled:hover,
  html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    color: #454545;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-white;
    border: 2px solid rgb(95, 170, 13);
    outline: none;
    cursor: pointer;
  }
}

.show-item {
  display: none;
  .filters-list {
    width: 100%;
  }
  .filters-item {
    &__title {
      margin-left: 0;
    }
  }
  h3 {
    padding: 16px 0;
  }
  &.active {
    display: flex;
  }
}

// Page Info ==========>
.page {
  &-info {
    margin-bottom: 16px;
    h1 {
      color: #432b1b;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.45;
      border-bottom: 1px solid $color-border;
      padding-bottom: 8px;
      margin-bottom: 16px;
    }
    p {
      color: #212529;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    .show-more {
      display: none;
    }
  }
}

// Sort ==========>
.sort {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      color: $color-text;
      font-size: 12.8px;
      font-weight: 400;
      line-height: 1.5;
      margin-right: 8px;
    }
  }
  .filters-active {
    display: none;
  }
  .filters__trigger {
    display: none;
  }
  &-select {
    outline: none;
    padding: 6px 12px;
    background: $color-white;
    border-radius: 4px;
    border: 1px solid #ccd1d9;
    color: #495057;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    option {
      color: #495057;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
  .result {
    padding: 8px 0;
    span {
      color: $color-text;
      font-size: 13.6px;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
    }
  }
}

// Product ==========>
.product {
  flex: 0 0 83.3334%;
  max-width: 83.3334%;
  &-table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 8px;
  }
  &-wrapper {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
    padding: 0 15px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
    &:hover {
      border-color: #84a25a;
    }
  }
}

// Card ==========>
.card {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    max-width: 225px;
    max-height: 225px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-info {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
  }
  &-slider {
    max-width: 100%;
    position: unset;
    .slick-slide {
      margin: 0 10px;
    }
    .slick-list {
      margin: 0 -10px;
    }
    .slick-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(0, 0);
      &::before {
        display: none;
      }
      i {
        opacity: 0.4;
        color: $color-text;
        font-size: 24px;
      }
    }
    .slick-prev {
      left: 0;
      top: -2px;
      i {
        transform: rotate(180deg);
      }
    }
    .slick-next {
      right: 0;
      top: -2px;
    }
    p {
      font-style: italic;
    }
  }
  &__title {
    text-align: center;
    color: #84a25a;
    font-size: 13.6px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  &-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    i {
      color: #f6bb42;
      font-size: 16px;
      margin-right: 4px;
    }
    span {
      display: block;
      color: $color-text;
      font-size: 12.8px;
      font-weight: 600;
      line-height: 1;
    }
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  p {
    color: $color-text;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    span {
      font-weight: 600;
    }
  }
  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: $color-text;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    i {
      font-size: 9px;
      margin-top: 3.5px;
      margin-right: 5px;
    }
  }
  .price {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: $color-text;
    font-size: 13.6px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 14px;
    span {
      color: #ed5565;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      margin-left: 8px;
    }
  }
  .details {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aab2bd;
    border-radius: 4px;
    padding: 2.4px;
    transition: all 0.25s ease-in-out;
    span {
      color: $color-text;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    i {
      color: $color-text;
      margin-right: 8px;
      font-size: 14px;
    }
    &:hover {
      background: #f5f7fa;
    }
  }
}

// Pagination ==========>
.pagination {
  margin-top: 32px;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-item {
    margin: 0 4px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    font-size: 13.6px;
    font-weight: 600;
    line-height: 1.2;
    background: transparent;
    border: 1px solid #84a25a;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    &:hover {
      color: $color-white;
      background: #84a25a;
    }
    &.active {
      color: $color-white;
      pointer-events: none;
      background: #84a25a;
    }
  }
}

// Info ==========>
.info {
  margin-top: 64px;
  &-wrapper {
    padding: 16px;
    background: #f5f7fa;
    border: 1px solid #ccd1d9;
    border-radius: 4px;
  }
  &-description {
    padding-right: 16px;
    max-height: 92px;
    overflow: auto;
  }
  p {
    color: $color-text;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 16px;
  }
}

// Suggestions ==========>
.suggestions {
  margin-top: 64px;
  h2 {
    margin-bottom: 16px;
  }
  &-table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: -8px -4px;
  }
  &-wrapper {
    flex: 0 0 auto;
    max-width: fit-content;
    padding: 8px 4px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
    background: #f6bb42;
    border: 1px solid #f6bb42;
    border-radius: 4px;
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    &:hover {
      color: #f6bb42;
      background: transparent;
    }
  }
}

// Benefits =========>
.benefits {
  margin-top: 48px;
  width: 100%;
  background: #84a25a;
  padding: 16px 0;
  &-table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: -5px;
  }
  &-wrapper {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
    padding: 5px;
  }
  &-card {
    text-align: center;
    i {
      display: none;
      color: $color-white;
      font-size: 41px;
      margin-bottom: 8px;
    }
    span {
      display: block;
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
      line-height: 1.2;
    }
    p {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

// Reviews ==========>
.reviews {
  padding: 16px 0;
  width: 100%;
}

// Footer ==========>
.footer {
  border-top: 2px solid #3a5a19;
  background-color: #3a5a19;
  background-image: url(../img/footer.jpg );
  background-repeat: repeat-x;
  background-size: auto;
  background-position: left top;
  padding: 24px 0 55px;
  &-table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: -15px;
  }
  &-wrapper {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
    &.w-50 {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
    }
  }
  &-list {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__link {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $color-white;
    font-size: 13.6px;
    font-weight: 400;
    line-height: 1.2;
    padding: 5.5px 0 0 24px;
    i {
      position: absolute;
      top: 6.3px;
      left: 0;
      color: $color-white;
      font-size: 14px;
      margin-right: 17px;
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      color: $color-white;
      i {
        transform: translateX(10px);
      }
    }
  }
  h5 {
    color: $color-white;
    font-size: 18.4px;
    font-weight: 500;
    line-height: 1.2;
  }
  .dropdown__trigger {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      display: none;
      color: $color-white;
      font-size: 18px;
    }
  }
}

.mb-4 {
  margin-bottom: 24px;
}

.mt-5 {
  margin-top: 48px;
}

// Media 1680px //
@media screen and (max-width: 1680px) {
  .header {
    &-top {
      .phone {
        display: none;
      }
    }
  }
  .product-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .filters {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .product {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

// Media 1280px //
@media screen and (max-width: 1280px) {
  .nav {
    &__trigger {
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }
  .filters {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .product {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

// Media 1100px //
@media screen and (max-width: 1100px) {
  .nav {
    &__trigger {
      i {
        font-size: 18px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

// Media 1024px //
@media screen and (max-width: 1024px) {
  .page-info {
    h1 {
      font-size: 26.6px;
      padding: 6.6px 0;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      &.active {
        overflow: visible;
        -webkit-line-clamp: none;
        -webkit-box-orient: horizontal;
      }
    }
    .show-more {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      max-width: 100px;
      width: 100%;
      height: 26px;
      border: 1px solid #ccd1d9;
      color: $color-text;
      font-size: 12.8px;
      font-weight: 600;
      line-height: 1.2;
      border-radius: 4px;
      &.active {
        display: none;
      }
    }
  }
  .header {
    .offer {
      position: relative;
      i {
        font-size: 13px;
        transform: rotate(-90deg);
      }
      &__link {
        font-size: 9.6px;
      }
    }
    &-top {
      padding: 11px 0 6px;
      i {
        font-size: 11px;
      }
      span {
        font-size: 10.4px;
      }
    }
    &-main {
      .burger {
        &-wrapper {
          display: block;
        }
      }
      .logo {
        margin: 0 auto;
      }
      .user {
        margin-right: 6px;
        span {
          display: none;
        }
      }
      .cart {
        margin-right: 8px;
        margin-left: 0;
        .cart-count {
          right: 1px;
          bottom: -3px;
          span {
            display: block;
          }
        }
        span {
          display: none;
        }
      }
    }
  }
  .nav {
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0);
    transform-origin: center center;
    transition: all 0.25s ease-in-out;
    &.active {
      transform: scale(1);
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 48px 16px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #84a25a;
      }
      span {
        display: none;
      }
      .logo {
        display: block;
        margin: 0 auto;
        max-width: 185px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 48px;
        min-width: 48px;
        max-height: 48px;
        min-height: 48px;
        background: #aab2bd;
        border-radius: 100px;
        i {
          color: $color-white;
          font-size: 20px;
        }
      }
    }
    &-list {
      padding: 16px;
    }
    &-item {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 19px 0;
    }
    &__trigger {
      padding: 9px 0 8px;
      justify-content: flex-start;
      i {
        font-size: 20px;
      }
      span {
        font-size: 16px;
      }
      &:hover {
        background-image: none;
        background: none;
        &::before {
          display: none;
        }
        span,
        i {
          color: $color-black;
        }
      }
      &.chats,
      &.rongeurs,
      &.poissons,
      &.oiseaux,
      &.elevage,
      &.bassins,
      &.reptiles,
      &.promos {
        &:hover {
          background-image: none;
          background-color: transparent;
        }
      }
    }
  }
  .filters {
    display: none;
    flex: 0 0 50%;
    max-width: 50%;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    overflow: auto;
    padding: 15px 0 0;
    .container {
      position: relative;
      padding-bottom: 16px;
    }
    &.active {
      display: block;
    }
    #slider-range {
      max-width: 96%;
    }
    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8px;
      padding: 6.6px 0;
      span {
        display: block;
        color: #432b1b;
        font-size: 26.4px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0 auto;
      }
      .filters__trigger {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aab2bd;
        border-radius: 4px;
        i {
          font-size: 13px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          background: rgba(0,0,0,.5);
          i {
            color: $color-white;
          }
        }
      }
    }
    &-footer {
      z-index: 50;
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-white;
      box-shadow: 0 4px 10px 1px rgba(170, 178, 189, 0.45);
    }
    &-apply {
      max-width: 240px;
      width: 100%;
      padding: 4px 12px;
      background: #84a25a;
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
      border-radius: 4px;
      border: 1px solid #84a25a;
      &:hover {
        color: $color-text;
        background: #8cc152;
      }
    }
    &-table {
      padding: 0;
    }
    &-list {
      .dropdown__subtrigger {
        background: $color-white;
        &:hover {
          background: #aab2bd;
        }
      }
    }
    &-item {
      background: $color-white;
    }
  }
  .product {
    margin-top: 16px;
    flex: 0 0 100%;
    max-width: 100%;
    &-wrapper {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }
  .sort {
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .filters {
      &-active {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 16px;
      }
      &-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          color: $color-text;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          margin-right: 4px;
        }
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 0;
        margin: 0;
        padding: 8px;
        background: #f5f7fa;
        border-radius: 80px;
        i {
          color: $color-text;
          font-size: 16px;
        }
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
      &-reset {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6bb42;
        border: 1px solid #f6bb42;
        border-radius: 4px;
        max-width: 240px;
        width: 100%;
        height: 26px;
        margin-top: 16px;
        color: $color-white;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        &:hover {
          background: #ffce54;
        }
      }
    }
    &-wrapper {
      span {
        display: none;
      }
    }
    &-select {
      padding: 0 12px;
      height: 40px;
    }
    .result {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .filters-fixed {
      max-width: 240px;
      width: 100%;
      &.fixed {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $color-white;
        padding: 16px;
        box-shadow: 0 4px 10px 1px rgba(170, 178, 189, 0.45);
      }
    }
    .filters__trigger {
      max-width: 240px;
      width: 100%;
      border: 1px solid #ccd1d9;
      border-radius: 4px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 25px;
        margin-right: 16px;
      }
      span {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
  .footer {
    padding: 24px 0 67px;
    &-table {
      margin: 0;
    }
    &-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      &.w-50 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
      }
      &.mb-4 {
        margin-bottom: 15px;
      }
      &.mt-5 {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
    .dropdown-list {
      display: none;
      &.active {
        display: block;
      }
    }
    .dropdown__trigger {
      margin-bottom: 8px;
      cursor: pointer;
      i {
        display: block;
      }
    }
  }
}

// Media 991px //
@media screen and (max-width: 991px) {
  .info {
    &-wrapper {
      max-height: none;
    }
  }
}

// Media 768px //
@media screen and (max-width: 768px) {
  .header {
    &-top {
      .delivery {
        display: none;
      }
    }
  }
  .nav {
    &-header {
      padding: 16px 0;
      .logo {
        display: none;
      }
      span {
        display: block;
        margin: 0 auto;
        color: #432b1b;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
      }
      .burger {
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
      }
    }
  }
  .breadcrumbs {
    &-list {
      padding: 8px 0;
      align-items: flex-end;
    }
    &__link {
      font-size: 10px;
      
    }
    &-item {
      padding: 2px 0;
      &.category {
        margin-right: 8px;
      }
      &:not(:last-child) {
        &::after {
          font-size: 8px;
          margin: 2px 3px 0;
        }
      }
    }
    i {
      font-size: 16px;
    }
  }
  .filters {
    max-width: 100%;
    flex: 0 0 100%;
    #slider-range {
      max-width: 97%;
    }
  }
  .product {
    &-wrapper {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .benefits {
    &-wrapper {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
    &-card {
      i {
        display: block;
      }
      p {
        display: none;
      }
    }
  }
}

// Media 575px //
@media screen and (max-width: 575px) {
  .header {
    &-top {
      padding: 7px 0 6px;
      .container {
        justify-content: center;
      }
    }
  }
  .product {
    &-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      &:hover {
        border-color: transparent;
      }
    }
  }
  .card {
    &__image {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .sort {
    .container {
      align-items: flex-start;
    }
    .filters-fixed {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 16px;
    }
    .sort-wrapper {
      max-width: 50%;
      flex: 0 0 50%;
    }
    &-select {
      max-width: 100%;
    }
  }
}